.carteEntete {
    width: 98%;
    border-radius: 5px;
    margin: 5px auto 5px auto;
    background-color: white;
   }
.carte {
    background-color: #F9F9FB;
   }

   .add {
    background-color: #E5520F;
   }

   .refresh {
    background-color: #DFE1E6;
    margin-right: 10px;
   }

   .select {
    background-color: red;
   }